h1 {
     text-align:center; 
	 font-size:40px;
   }
h3 {
	  text-align:left;
	  font-size:25px;
 }

.par {
	 margin-top: -24px;
	 margin-left: 10px;
	 Font-size: 19px;
	 text-align: left;
	 padding-top: 10px;
	 border-bottom: 3px solid tomato;
	 background-color:#c9e1ff;
}
.first {
	background-color: #00001a;
	color:#ffffff;
	background-image:url('#');
}
body {
	 background-image: url('');
     background-repeat: no-repeat;
     background-attachment: fixed;  
     background-size: cover;
}

.gri-container{
  display: grid;
  grid-template-columns: 60% 35%;
  height: 48px;
}
.gr-container {
  display: grid;
  grid-template-columns: 50% 48%;
}
.g-container {
  display: grid;
  grid-template-columns: 50% 50%;
}
.gg-container {
  display: grid;
  grid-template-columns: 2% 76% 22%;
  height: 98px;
}
.iframe-container {
  display: grid;
  grid-template-columns: 10% 90%;
}
.dg{
  background-color: #ace1ff; 
   border: 10px;
   padding-bottom: 4px;
   border-radius:20px;
   border-bottom: 3px solid tomato; 
   margin-top:-40px;
   margin-right:-20px;   
   margin-bottom:-20px; 
}	
ul {
  list-style-type: none;
  margin-top:-7px;
  margin-left:-8px;
  padding: 0px;
  width: 3%;
  background-color: #074556;
  position:fixed;
  height: 100%;
  overflow: auto;
  border-radius: 30px;
}

li a {
  display: block;
  color: white;
  padding: 39px 0px 10px 0px;
  text-decoration: none;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.inkj {
    padding-top:28px;
	padding-bottom:46px;
	font-size:12px;
	height: 240px;
	margin-bottom: 30px;
	margin-top: 50px;
	margin-left: 20px;
	background-color: #c9e1ff;
}
.sticky {
	position: sticky;
    top: 0;
}
.stiky {
	position: sticky;
	top: 0;
    bottom: 0;
}
.grd-container {
  display: grid;
  grid-template-columns: 82% 18%;
}
.gd-container {
  display: grid;
  grid-template-columns: 80% 10%;
}				

.btn-group .button:hover {
  background-color: #3e8e41;
}
.iframe {
  margin-top: -726px;	
  overflow: auto;
}
.frame {
  margin-top: -1020px;	
}
.center {
   text-align: center;   
   font-size: 28px;
   background-color: #c9e1ff;
   height: 320px;
   margin-top: 10px;
   margin-left:10px;
}
.center:hover {
	box-shadow: 10px 10px 5px lightblue;
}
.rea {
	text-align: right;
	font-size: 24px;
	margin-left: 20px; 
	background-color: #c0e1ff;
}
.inkj:hover {
	box-shadow: 10px 10px 5px lightblue;
}
.inj {
	width: 550px;
  height: 160px;
	transition: width 0.5s, height 0.5s;
	text-align: center;
}
.inj:hover {
	width: 580px;
  height: 170px;
}
.ink {
	width: 600px;
  height: 160px;
	transition: width 0.5s, height 0.5s;
	text-align: left;
}
.ink:hover {
	width: 624px;
  height: 180px;
}
.h6 {
	background-color: #9cc4ff;
}
.h6-container {
  display: grid;
  grid-template-columns: 85% 15%;
}			
.button {
  background-color: #ebf0fa;
  border: none;
  border-radius: 14px;
  padding: 10px;
  margin:3px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  
}
.button1 {
   background-color: #04AA6D; 
  border: none;
  border-radius: 12px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;	
}
.img {
	width: 92px;
        height: 134px;
	transition: width 0.2s, height 0.2s;
	text-align: left;
}
.img:hover {
	width: 99px;
        height: 140px;
}
