h1 {
     text-align:center; 
	 font-size:40px;
   }
h3 {
	  text-align:left;
	  font-size:25px;
 }

.par {
	 margin-top: -24px;
	 Font-size: 19px;
	 text-align: center;
	 border-bottom: 3px solid tomato;
	 background-color: hsl(192, 100%, 93%);
}
.first {
	background-image:url('#');
}
body {
	 background-color: #e6e6ff;
	 background-image: url('');
     background-repeat: no-repeat;
     background-attachment: fixed;  
     background-size: cover;
}

.gri-container{
  display: grid;
  grid-template-columns: 90% 10%;
  background-color:hsl(192, 100%, 26%);
}
.gr-container {
  display: grid;
  grid-template-columns: 45% 50%;
}
.g-container {
  display: grid;
  grid-template-columns: 50% 50%;
}
.gg-container {
  display: grid;
  grid-template-columns: 88% 6%;
}
.dg{
  background-color:  #33ffff;
   padding: -4px -5px 0px 16px ;
   border:10px ;
   border-radius:20px;
   margin-top:-40px;
   margin-right:-20px;   
   margin-bottom:0px; 
}	
ul {
  list-style-type: none;
  margin-top:-7px;
  margin-left:-8px;
  padding: 0px;
  width: 3%;
  background-color: #ff3333;
  position:fixed;
  height: 100%;
  overflow: auto;
  border-radius: 30px;
}

li a {
  display: block;
  color: #000;
  padding: 39px 0px 10px 0px;
  text-decoration: none;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.inkj {
    padding-top:28px;
	padding-bottom:46px;
	font-size:12px;
	margin-bottom: 60px;
	margin-top: 100px;
	margin-left: 20px;
	background-color: #99ffff;
}
.sticky {
	position: sticky;
    top: 0;
}
.grd-container {
  display: grid;
  grid-template-columns: 82% 18%;
}
.gd-container {
  display: grid;
  grid-template-columns: 80% 10%;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.btn-group .button {
  background-color: #04AA6D; 
  border: 1px solid green;
  border-radius: 30px;
  color: white;
  padding: 10px 32px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  cursor: pointer;
  width: 140px;
  display: block;
}

.btn-group .button:not(:last-child) {
  border-bottom: none;
}

.btn-group .button:hover {
  background-color: #3e8e41;
}
.iframe {
  margin-top: -640px;	
}
.center {
   text-align: center;   
   font-size: 28px;
   background-color: hsla(179, 38%, 21%, 1);
   margin-left:10px;
}
.center:hover {
	box-shadow: 10px 10px 5px lightblue;
}
.rea {
	text-align: right;
	font-size: 24px;
	margin-left: 20px; 
	background-color:  #66ffff;
}
.inkj:hover {
	box-shadow: 10px 10px 5px lightblue;
}
.inj {
	width: 520px;
  height: 160px;
	transition: width 0.5s, height 0.5s;
	text-align: center;
}
.inj:hover {
	width: 580px;
  height: 170px;
}
.ink {
	width: 600px;
  height: 160px;
	transition: width 0.5s, height 0.5s;
	text-align: left;
}
.ink:hover {
	width: 650px;
  height: 170px;
}
.h6 {
	background-color: #008080;
}
